.venv/

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Output video dan temp
output/
temp/

# File environment lokal
.env
.env.local

# IDE
.vscode/
.idea/

# File OS
.DS_Store
Thumbs.db

# Cache Video Pool Pexels
assets/video_pool/

# YouTube Cookies & Credentials
youtube_cookies.json
youtube_credentials.json
client_secret.json
