google-genai
moviepy

# Pin versi stabil edge-tts — versi 7.2.8 untuk mengatasi error 403 handshake
edge-tts==7.2.8

librosa==0.10.2.post1
numpy
scipy
soundfile
audioread
openai-whisper
Pillow
psutil
playwright
